include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude .github *
recursive-exclude venv *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
